# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
.build/
*.egg-info/
.eggs/

# Environments
.venv/
venv/
ENV/
env/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
AppIcon.iconset/

# User configuration & cache
.whispertex/
*.wav
*.mp3
*.m4a
.env
